
/****** main start ******************************************************************/
.main_body{
  width: 100%;
  padding: 5%;
  height: auto;
  /* background-image: url("../main_img/img_header.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
}
.main_body table {
  border-collapse: collapse;
}
.main_body table td {
  /* border: 1px solid red; */
}
.main_body_center{
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
}
.td_pic_pro{
  width: 60%;
}
.main_body_product{
  max-width: 80%;
  margin: auto;
  margin-bottom: 10%;
  padding: 10px;
}
.main_body_product ul{
  padding: 0px;
  margin: 0;
  list-style: none; /* Remove HTML bullets */
}
.main_body_product :first-child li{
  background-color: #FF5675;
  color: white;
  font-weight: bold;
}
.centerproduct{ /*식당, 숙박, 렌트카, 쇼핑*/
  display: block;
  float: left;
  width: 25%;
  padding:1px;
  text-align: center;
  font-size: 30px;
}
.centerproductimg{ /*식당, 숙박, 렌트카, 쇼핑*/
  width: 100%;
}
.profile {   /* 남여 프로필카드 */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile_container {
  padding: 2px 16px;
}
.container {
  padding: 2px 16px;
}
/* ************************ */
.br_st_text{
  padding: 10px;
  width: 100%;
  z-index: 1;
  /* border: 1px solid green; */
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: royalblue;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 10px 40px 0px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 10px 0px 0px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid royalblue;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent royalblue;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid royalblue;
  border-width: 10px 10px 10px 0;
  border-color: transparent royalblue transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content *{
  padding:0;
  margin: 0;
}
.content {
  padding: 20px 30px;
  background-color: royalblue;
  position: relative;
  border-radius: 6px;
  color: white;
}
@media screen and (max-width: 1300px) {
  .centerproduct{ /*식당, 숙박, 렌트카, 쇼핑*/
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
.content *{
  font-size: 15px;
}
.content {
  padding: 10px 15px;
  background-color: royalblue;
  position: relative;
  border-radius: 6px;
  color: white;
}
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  .main_body_center,.main_body_product{
    max-width: 100%;
  }
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid royalblue;
  border-width: 10px 10px 10px 0;
  border-color: transparent royalblue transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
  .centerproduct{ /*식당, 숙박, 렌트카, 쇼핑*/
    float: none;
    width: 100%;
    font-size: 22px;
  }
}
